:root{
   --red:#ff2e63;
   --black:#252a34;
   --blue:#08d9d6;
   --white:#eaeaea;
   --title:35px;
   --text:19px;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000	;
    overflow-x: hidden;
    font-family: 'Red Hat Text', sans-serif;
}
.go-top{
    /** Esto es lo que hace que suba hasta arriba la barra**/
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 60px;
    height: 60px;
    background: #fff;
    border:3px solid var(--red);
    display: flex;
    justify-content: center;
    /** Esto centra el cuadro o los cuadraditos.**/
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s;
}
.go-top:hover{
    background: var(--red);
    color:#fff;
    border: 2px solid var(--white);
}
.go-top:hover span{color:var(--white);}

.go-top > span{
   font-size: 30px;
   color: var(--black);
}


/** Skew **/
.skew-abajo{
    /** Esto segun lo que veo hace que se posicone las lineas/bordes negras dandole unas cordenadas (bot and left) **/
    position: absolute;
	bottom: 0;
    left: 0;
    /** Esto cambiar el tamaño y la inclinacion de los bordes negros. **/
	border-width: 0 0 10vh 100vw;
    border-style: solid;
    /** Aqui cambie el color de los bordes de toda la web que esten en la parte de abajo **/
	border-color: transparent transparent rgb(0, 0, 0) transparent;
}
.skew-arriba{
    position: absolute;
	top: 0;
	left: 0;
	border-width: 10vh 100vw 0 0;
    border-style: solid;
    /** Aqui cambie el color de los bordes de toda la web que esten en la parte de arriba **/
	border-color: rgb(0, 0, 0) transparent transparent transparent;
	z-index: 10;
}

/** Navegation Menu **/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    /**Aqui se cambia el borde osea como es de grande la barra del menu**/
    height: 80px;
    background: #000000;;
    /** Aqui cambie el color de la barra de arriba el menu a negro **/

    
    display: flex;
    /**Aqui lo que hace es que pone una parte adelante y otra detras**/
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
/** Aqui se modifica la parte izquierda**/
.menu .logo-box{margin-left: 70px;}
/**Aqui se cambia los datos de donde pone "ROPA WEB"**/
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: var(--title);
    font-weight: 400;
    font-weight: 550;
    /** Aqui modificamos el color de la parte de izquierda en este caso "ROPA WEB" **/
    color:var(--white);
}
/** Aqui se le da un margen al final de la parte del menu**/
.menu .list-container{margin-right: 60px;}
.menu .list-container ul{display: flex;}
.menu .list-container ul li{list-style: none;}
.menu .list-container ul li a{
    text-decoration: none;
    /**Separacion de cada border a cada borde ejemplo de inicio a catalogo.**/
    margin: 0px 10px;
    /**Este es tamaño del button**/
    padding:8px;
    /** Aqui modificamos el color de la letra de los botones del menu **/
    color: var(--blue);
    border-radius: 24px;
    transition: 0.3s;
    font-size: 23;
    /**Aqui cambio el gordor de la lista de menu**/
    font-weight: 550;
    
}
.menu .list-container ul li a.active{
    /** Aqui modificamos el color estatico (el que siempre se ve quieto)de el borde de los botones del menu de arriba **/
    background: var(--red);
    color:#fff;
}
.menu .list-container ul li a:hover{
    /** Aqui modificamos el color dinamico (cuando pasas el raton por encima se ve el color asignado aqui)de el borde de los botones del menu de arriba **/
    background: var(--red);
    color:#fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/** Sin cambios al modificar sin la carptea java**/
@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position:absolute;
        right: 30px;
        top: 20px;
        font-size: 28px;
        color: var(--black);
        transition: 0.5s;
        cursor: pointer;
    }
    /** Sin cambios al modificar sin la carptea java**/
    .btn-menu > .fa-times{color: var(--red);}
    .btn-menu > .fa-bars:hover{color:var(--red);}
    .menu .logo-box{margin-left: 30px;}
    .menu .list-container{
        position: fixed;
        top:60px;
        left:-100%;
        background:#fff;
        width: 100%;
        height: calc(100vh - 60px);
    }

    /** Sin cambios al modificar sin la carptea java**/
    .menu .list-container .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top:4px solid var(--red);
    }
    /** Sin cambios al modificar sin la carptea java**/
    .menu .list-container ul li{
        width: 90%;
        border-bottom: 2px solid var(--black);
        display: flex;
        justify-content: center;
    }
    /** Sin cambios al modificar sin la carptea java**/
    .menu .list-container ul li a{
        font-size: 20px;
        text-align: center;
        padding:12px 0px;
    }
    /** Sin cambios al modificar sin la carptea java**/
    .menu .list-container ul li a.active{
        background: none;
        color:var(--red);
    }
    /** Sin cambios al modificar sin la carptea java**/
    .menu .list-container ul li a:hover{
        background: none;
        color:var(--red);
    }
}

/** Navegation Menu **/

/** IMG Header **/
/** Aqui va la primera imagen de fondo.**/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background:url(../img/img-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /** lo que hace es que le da como una luz transparente en la imagen , en este caso le da un toque oscuro con el color negro**/
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h1{
    font-size: 50px;
    /** Aqui se cambia la letra de "Bienvenidos Artistas WEb" **/
    color:#ffffff;
    /** Aqui lo que hice es cambiar la gordura de la letra**/
    font-weight: 500;
}
.img-header .welcome hr{
    width: 400px;
    height: 2px;
    /** Esto es la linea blanca que tiene de bajo**/
    background: #fff;
    border: none;
    margin-top: 5px;
    
}
.img-header .welcome p{
    font-size: 26px;
    /** Esto es para editar donde poner "Agencia de Diseño y Desarrollo web"**/
    color: #fff;
    margin-top: 20px;
    font-weight: 500;
}

    /** Esta es toda la informacion que se puede modificar en el boton de "Ver Sudadera" y "Hacer diseño"**/
.img-header .welcome > button{
    /** Este es el tamaño del boton a lo ancho**/
    width: 260px;
    height: 50px;
    /** Este es el color del boton**/
    background: var(--red);
    border-radius: 24px;
    border:none;
    outline: none;
    font-size: 22px;
    /** Este es el color de la letra de dentro del boton**/
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
    /**Aqui se cambia la gordura de la letra**/
    font-weight: 500;
}

    /** Esta funcion es para cuando tengamos el raton encima que se pone Azul "blue" **/
.img-header .welcome > button:hover{
    background:var(--blue);
}

@media only screen and (max-width:773px ){
    .img-header .welcome h1{font-size: 40px;}
    .img-header .welcome > button{width: 130px; font-size: 20px;}
}
@media only screen and (max-width:590px){
    .img-header .welcome h1{font-size: 30px;}
    .img-header .welcome hr{width: 100px;}
    .img-header .welcome p{font-size: 17px; font-weight: 500;}
    .img-header .welcome > button{width: 100px; font-size: 17px;}
}





/** Acerca de Nosotros **/
.acerca-de{
    width: 100%;
    margin-top: 120px;
}
.acerca-de .info-container{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.acerca-de .info-container h1{
    font-size: 50px;
    font-weight: 450;
    /** Aqui se cambia el color de la letra de "Acerca de Nostros" **/
    color: var(--blue);
    text-align: center;
    margin-bottom: 20px;
}
.acerca-de .info-container p{
    text-align: center;
    font-size: 17px;
    /** Aqui se cambia el color del parrafo **/
    color: var(--blue);
    line-height: 35px;
    margin:10px 0px;
}
.acerca-de .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.acerca-de .info-container .about-gallery img{
    width: calc(33.333% - 10px);
    /** Tamaña largo de imagen**/
    height: 300px;
    /** Margenes entre imagenes**/
    margin: 10px 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.acerca-de .info-container .about-more{
    width: 100%;
    display: flex;
    justify-content: center;
}
.acerca-de .info-container .about-more button{
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    /** Aqui se cambia el color del fondo del boton "Leer mas" **/
    background: var(--red);
    border: none;
    outline: none;
    border-radius: 20px;
    /** Aqui se cambia el color de la letra del boton "Leer mas" **/
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

/** Aqui se cambia el color del fondo del boton "Leer mas" pero cuando Pasamos el cursor por encima**/
.acerca-de .info-container .about-more button:hover{background: var(--blue);}

@media only screen and (max-width:773px){
    .acerca-de .info-container .about-gallery{flex-direction: column;}
    .acerca-de .info-container .about-gallery img{width: 100%;}
}
@media only screen and (max-width:590px){
    .acerca-de .info-container h1{font-size: 30px;}
    .acerca-de .info-container p{font-size: 15px;}
}

/** Nuestros proyectos **/
.our-projects{
    position: relative;
    width: 100%;
    height: 100%; 
    
    /** Fondo con imagen**/
    background: url(../Fotos_WEB_REPLICA/img-3.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}
.our-projects .deg-background{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.8);
}
.our-projects .ejeZproject{
    position: relative;
    width: 100%;
    height: 100%;
}
.our-projects .container-project{
    width: 90%;
    margin:auto;
    padding-top: 100px;
}
.our-projects .container-project .project-title{
    border:2px solid #fff;
    padding:10px;
    text-align: center;
    width: 50%;
    margin: auto;
}
.our-projects .container-project .project-title h2{
    font-size: 40px;
    color: #fff;
    /**font-weight: normal;**/
    /** Aqui modificamos la gordura de la letra**/
    font-weight: 500;
}
.our-projects .container-project .project-title hr{
   background:#fff;
   width: 50%;
   height: 3px;
   margin: 10px auto;
}
/** Esto es para modificar todo lo que tiene que ver con las img de dentro de nuestro proyectos.**/
.our-projects .container-project .project-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /** El margen que tiene del titulo a la**/
    margin-top: 80px;
    padding-bottom: 100px;
}
/** Esto es para modificar todo lo que tiene que ver con las img de dentro de nuestro proyectos.**/
.our-projects .container-project .project-img img{
    /** Esto es el tamaña si se ve mas grande(cerca) y mas pequeño mas (lejos)**/
    width: calc(30.333% - 100px);
    /** Margen entre imagenes**/
  margin:38px ;
  /** debería redimensionarse para ajustarse a su contenedor **/
  object-fit: cover;
  /** El borde de als esquinas**/
  border-radius: 10px;
  cursor: pointer;
}
@media only screen and (max-width:773px){
    .our-projects .container-project .project-img img{width: 80%; margin-bottom: 30px;}
}
@media only screen and (max-width:446px){
    .our-projects .container-project .project-title h2{font-size: 30px;}
}

/** Testimonios **/
.testimonios{
    width: 100%;
    margin-top: 120px;
}
.testimonios .testimonios-title{
    width: 50%;
    margin:auto;
    text-align: center;
}
.testimonios .testimonios-title h2{
    font-size: 50px;
    font-weight: 500;
    /** Aqui se cambia el color de la letra de  "Testimonios" **/
    color: var(--blue);
    margin-bottom: 10px;
}
.testimonios .testimonios-title hr{
    width: 60%;
    height: 2px;
    margin:auto;
    /** Aqui  **/
    background: var(--black);
}
.testimonios .box-testimonio{
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonios .box-testimonio .card-testimonio{
    width: 45%;
    margin: 20px;
}
.testimonios .box-testimonio .card-testimonio .card-img{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.testimonios .box-testimonio .card-testimonio .card-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.testimonios .box-testimonio .card-testimonio .testimonio-text{
    /** Aqui se cambia el color del borde **/
    border: 2px solid var(--red);
    padding:20px;
    border-radius: 20px;
    transition: 0.1s;
    cursor: pointer;
}
.testimonios .box-testimonio .card-testimonio .testimonio-text h4{
    font-size: 30px;
    font-weight: 400;
    /** Aqui se cambia el color de la letra de cada persona dentro del cuadro" **/
    color: var(--red);
    text-align: center;
    margin-bottom: 10px;
    transition: 0.1s;
}
.testimonios .box-testimonio .card-testimonio .testimonio-text p{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    /** Aqui se cambia el color del parrafo **/
    color: var(--blue);
}
.testimonios .box-testimonio .card-testimonio .testimonio-text:hover{
    border: 2px solid var(--blue);
}
.testimonios .box-testimonio .card-testimonio .testimonio-text:hover h4{
    color: var(--blue);
}

@media only screen and (max-width:890px){
    .testimonios .box-testimonio .card-testimonio .card-img img{width: 200px; height: 200px;}
    .testimonios .box-testimonio .card-testimonio{width: 100%;}
    .testimonios .box-testimonio .card-testimonio .testimonio-text h4{font-size: 25px;}
    .testimonios .box-testimonio .card-testimonio .testimonio-text p{font-size: 17px; line-height: 35px;}
}

/** Footer **/
.footer{
    position: relative;
    width: 100%;
    height: 100%;
    /** Fondo con imagen**/
    background: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer .deg-footer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /** Esto lo que hace es que le da una luz/tonalidad de un color en este caso oscuro**/
    background: rgba(0,0,0,0.6);
}
.footer .ejeZfooter{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .footer-content{
    padding-top: 100px;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}
.footer .footer-content .footer-title{
    width: 50%;
    margin: auto;
    /** Aqui se cambia el color del borde del cuadro de formulario de contacto**/
    border:2px solid #fff;
    padding:15px;
}
.footer .footer-content .footer-title h2{
    font-size: 35px;
    font-weight: 500;
    /** Aqui se cambia el color de la letra de "Sudadera Personalizada" **/
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}
.footer .footer-content .footer-title hr{
    background: rgb(255, 255, 255);
    height: 2px;
    width: 80%;
    margin:auto;
}
.footer .formulario-content{
    width: 60%;
    margin: 50px auto;
    /** Aqui se cambia el color de dentro del cuadro del formulario**/
    background: rgb(255, 255, 255);
    padding:30px;
    border-radius: 50px;
    /** Aqui se cambia el color del borde del cuadro del formulario**/
    border: 1.5px solid var(--blue);
}
.footer .formulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .formulario-content #formulario label{
    font-size: 30px;
    text-align: center;
    /** Aqui se cambia el color de las letras del cuadro del formulario**/
    color: var(--blue);
    margin: 30px 0px 10px 0px;
}
.footer .formulario-content #formulario input{
    width: 90%;
    height: 40px;
    margin:auto;
    border-radius: 24px;
    outline: none;
    /** Aqui se cambia el color del borde de dentro del cuadro del formulario el subborde**/
    border:1.5px solid var(--blue);
    text-align: center;
    font-size: 18px;
    /** Aqui se cambia el color de la letra de dentro del cuadro del formulario "cuando escribe el usuario" **/
    color: var(--blue);
}
.footer .formulario-content #formulario textarea{
    width: 90%;
    height: 200px;
    margin:auto;
    padding: 20px;
    border-radius: 24px;
    outline: none;
    /** Aqui se cambia el color de dentro del cuadro del formulario el de "Escribe ty mensaje" **/
    border:1.5px solid var(--blue);
    font-size: 15px;
    /** Aqui se cambia el color de la letra de dentro del cuadro del formulario "cuando escribe el usuario" **/
    color: var(--blue);
}
.footer .formulario-content #formulario .send{
    margin: 30px;
    display: flex;
    justify-content: center;
}
.footer .formulario-content #formulario button{
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: var(--red);
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.footer .formulario-content #formulario button:hover{
    background: var(--blue);
}
.footer .formulario-content #formulario .mensaje-form{
    width: 100%;
    margin:auto;
    padding:20px;
}
.footer .formulario-content #formulario .mensaje-form p{
    font-size:19px;
    color: var(--black);
    line-height: 35px;
}
.footer .footer-text{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /**Aqui se cambia la gordura,el alto de la barra de abajo**/
    height: 100px;
    /** Aqui se cambia el color de la barra de abajo del todo **/
    background:rgba(84, 233, 238, 0.8);
    display: flex;
    /**Esto hace que este centrado**/
    justify-content: center;
    align-items: center;
    /** Aqui se cambia el color de una pequeña linea que esta encima del color de la barra azul **/
    border-top: 2px solid rgb(0, 0, 0);
}
.footer .footer-text p{
    font-size: 20px;
    text-align: center;
    /** Aqui se cambia el color de la letra de dentro del cuadro de la barra de abajo del todo **/
    color: rgb(0, 0, 0);
}


/** Esto es para modificar el simbolo de formas_de_pago**/   
.formas_de_pago {
    /** Cambia el borde de la caja que hay**/
    padding: 40;
    /** Aqui basicamente lo que pasa es que el color del fondo se**/
    background-color: var(--purple-light);
}
        
.formas_de_pago img {
    /** Esto es como va a ser de grande el icono**/
    padding: 5;
    border-radius: 0%;
    width: 190px;
    /** Esto es un efecto que lo que hace es que al ponerse encima se hace un poco mas grande pero esto solo marca el tiempo.**/
    transition: .3s ease all;
    margin-right: 70px;
}
        
.formas_de_pago img:hover {
    /** Este es el tamaño de cuando nos ponemos encima**/
    transform: scale(1.2);
}



/** Esto es para modificar el simbolo de instagram**/   
.redes-sociales {
    /** Cambia el borde de la caja que hay**/
    padding: 40;
    /** Aqui basicamente lo que pasa es que el color del fondo se**/
    background-color: var(--purple-light);
}
        
.redes-sociales img {
    /** Esto es como va a ser de grande el icono**/
    padding: 5px;
    border-radius: 100%;
    width: 90px;
    /** Esto es un efecto que lo que hace es que al ponerse encima se hace un poco mas grande pero esto solo marca el tiempo.**/
    transition: .3s ease all;
    margin-left: 70px;
}
        
.redes-sociales img:hover {
    /** Este es el tamaño de cuando nos ponemos encima**/
    transform: scale(1.4);
}

@media only screen and (max-width:900px){

    .footer .formulario-content{width: 85%; padding:20px;}
    .footer .formulario-content #formulario input{width: 100%;}
    .footer .formulario-content #formulario textarea{width: 100%;}
}
@media only screen and (max-width:590px){
    .footer .formulario-content{width: 95%; padding:20px;}
    .footer .formulario-content #formulario label{font-size: 17px;}
    .footer .formulario-content #formulario input{width: 100%; font-size: 17px;}
    .footer .formulario-content #formulario textarea{width: 100%;}
    .footer .formulario-content #formulario .mensaje-form p{font-size: 17px;}
    .footer .footer-text{width: 100%; padding: 0px 30px;}
    .footer .footer-text p{font-size: 17px;}
}
